body {
    /* background-image: url("poet.jpeg"); */
    background-attachment: scroll;
    background-repeat: no-repeat;
}

.main-frame {
    position: relative;
}

.title {
    text-align: center;
}

.options-box {
    max-width: 30%;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}

.list-name {
    text-align: center;
}

.option:hover {
    background-color: aquamarine;
}

.option {
    width: 90%;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    background-color: white;
    padding: 6px;
}

.bottom {
    position: fixed;
    bottom: 0%;
    /* height: 200vh; */
}

#author {
    font-size: 0.8em;
    bottom: 0;
    right: 10px;
}

#author-link:hover {
    font-size: 50px;
    cursor: progress;
}

#author-link:visited {
    color: rgb(23, 161, 2);
}

.poem-outline {
    position: absolute;
    top: 0;
    left: 40%;
    width: 50%;
    min-height: 10vh;
    top: 0;
    border-style: solid;
    border-color: gray;
    border-radius: 5px;
    margin-bottom: 10vh;
    padding: 5px;
}

.poem {
    top: 10px;
    font-family: "Courier New";
    font-size: 1.5em;
    line-height: 30px;
}
